{% load ds %}{# Icons the page scripts insert at runtime (toasts, tag chips, suggestions, CV autofill) #}
<template id="ds-toast-icon-success">{% icon "circle-check" "ico-18" %}</template>
<template id="ds-toast-icon-warning">{% icon "triangle-alert" "ico-18" %}</template>
<template id="ds-toast-icon-danger">{% icon "circle-alert" "ico-18" %}</template>
<template id="ds-toast-icon-info">{% icon "info" "ico-18" %}</template>
<template id="ds-icon-x">{% icon "x" "ico-14" %}</template>
<template id="ds-icon-file">{% icon "file-text" "ico-16" %}</template>
<template id="ds-icon-plus">{% icon "plus" "ico-14" %}</template>
<template id="ds-icon-check">{% icon "check" "ico-14" %}</template>
<template id="ds-icon-sparkles">{% icon "sparkles" "ico-16" %}</template>
<template id="ds-icon-lightbulb">{% icon "lightbulb" "ico-16" %}</template>
<template id="ds-icon-wrench">{% icon "wrench" "ico-16" %}</template>
<template id="ds-icon-badge-check">{% icon "badge-check" "ico-16" %}</template>
<template id="ds-icon-graduation-cap">{% icon "graduation-cap" "ico-16" %}</template>
<template id="ds-icon-info">{% icon "info" "ico-16" %}</template>
<template id="ds-icon-triangle-alert">{% icon "triangle-alert" "ico-18" %}</template>
<template id="ds-icon-circle-alert">{% icon "circle-alert" "ico-18" %}</template>
<template id="ds-icon-circle-check">{% icon "circle-check" "ico-18" %}</template>
<template id="ds-icon-loader-circle">{% icon "loader-circle" "ico-18" %}</template>
